<!DOCTYPE html>
<html>
<head> <title>Favorite Book</title> </head>
<body>
    <form action="/favorite-book" method="POST">
        <label for="book">Enter your favorite book:</label>
        <input type="text" name="book" id="book" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
