<!DOCTYPE html>
<html>
<head> <title>Student Details</title> </head>
<body>
    <h1>Student: <%= name %></h1>
    <p>Course: <%= course %></p>
    <img src="<%= picture %>" alt="Student Picture">
</body>
</html>
